strategy: min
lowest_matching: true
source https://api.nuget.org/v3/index.json

storage: none

nuget ThisAssembly.AssemblyInfo >= 1.4.1 copy_local: false
nuget Microsoft.CodeAnalysis.CSharp.Workspaces >= 4.6.0 copy_local: false
nuget LiteDB >= 5.0.17
nuget Spectre.Console >= 0.46.0
nuget JetBrains.Annotations >= 2022.1.0